<div
  class="w-full bg-primary mx-auto md:w-1/2 h-1/2 flex flex-col items-center justify-center gap-y-4 z-[999] my-6 p-4"
>
  <h4 class="text-white text-2xl font-semibold text-center my-4">
    Secure your health and financial well-being with our Medical Surgery
    Insurance. Contact us today to explore your options and embark on a journey
    towards comprehensive healthcare coverage.
  </h4>
  <sosinc-button
    label="Contact Us"
    link="/contact"
    className="bg-accent text-white hover:bg-hover"
  />
</div>
