<div class="w-full h-auto md:h-[50vh] px-4 bg-primary">
  <div
    class="w-full lg:w-[80%] mx-auto gap-6 flex flex-col md:flex-row items-center justify-center"
  >
    <a
      routerLink="/"
      routerLinkActive="text-hover"
      class="w-full md:w-[30%] h-fit p-4 flex flex-col items-center justify-between gap-3 cursor-pointer"
    >
      <img class="w-48 h-40" src="../../../assets/images/logo.png" alt="Logo" />
      <h2>North West Medical Surgical</h2>
    </a>
    <div
      class="w-full md:w-[30%] h-fit p-4 flex items-center justify-center gap-3"
    >
      <ul class="grid grid-cols-2 place-content-center gap-y-6 w-fit h-fit">
        <li>
          <a routerLink="" fragment="home"> Home </a>
        </li>
        <li>
          <a routerLink="" fragment="insurance"> Insurance </a>
        </li>
        <li>
          <a routerLink="" fragment="providers"> Providers </a>
        </li>
        <li>
          <a routerLink="" fragment="location"> Location </a>
        </li>
        <li>
          <a routerLink="" fragment="reviews"> Reviews </a>
        </li>
        <li>
          <a routerLink="" fragment="contact"> Contact Us </a>
        </li>
      </ul>
    </div>
    <div
      class="w-full md:w-[30%] h-fit flex flex-col items-center justify-center"
    >
      <ul
        class="w-fit h-fit p-4 flex flex-col items-start justify-center gap-4"
      >
        <li class="text-white flex items-center justify-between">
          <span class="mr-6">Call:</span>
          <a href="tel:+347503497">+21194730492</a>
        </li>
        <li>
          <a href="mailto:info&commat;northwestmedsurg.com"
            >info&commat;northwestmedsurg.com</a
          >
        </li>
        <li>
          <a href="https://maps.app.goo.gl/x3pBftm47Jckz8fRA">Location</a>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="w-full md:w-[90%] mx-auto flex flex-col items-center justify-center gap-3"
  >
    <hr class="h-[1.5px] bg-gray-300 w-full my-2" />
    <h5 class="text-white">
      &copy; Copyright {{ year }} All right reserved. Northwest Medical Surgical
      Associates, INC.
    </h5>
  </div>
</div>
