<div class="w-full h-auto md:h-[50vh] px-4 bg-primary">
  <div
    class="w-full lg:w-[80%] mx-auto gap-6 flex flex-col md:flex-row items-center justify-center"
  >
    <a
      routerLink="/"
      routerLinkActive="text-hover"
      class="w-full md:w-[30%] h-fit p-4 flex flex-col items-center justify-between gap-3 cursor-pointer"
    >
      <img src="Logo" alt="Logo" width="" height="" />
      <h2>North West Medical Surgical</h2>
    </a>
    <div
      class="w-full md:w-[30%] h-fit p-4 flex items-center justify-center gap-3"
    >
      <ul class="grid grid-cols-2 gap-y-6 w-full h-fit">
        <li>
          <a routerLink="" fragment="home"> Home </a>
        </li>
        <li>
          <a routerLink="" fragment="insurance"> Insurance </a>
        </li>
        <li>
          <a routerLink="" fragment="providers"> Providers </a>
        </li>
        <li>
          <a routerLink="" fragment="location"> Location </a>
        </li>
        <li>
          <a routerLink="" fragment="reviews"> Reviews </a>
        </li>
        <li>
          <a routerLink="" fragment="contact"> Contact Us </a>
        </li>
      </ul>
    </div>
    <ul
      class="w-full md:w-[30%] h-fit p-4 flex flex-col items-start justify-start gap-4"
    >
      <li class="text-white">
        Call: <a href="tel:+347503497">+21194730492</a>
      </li>
      <li>
        <a href="mailto:info&commat;northwestmedsurg.com"
          >info&commat;northwestmedsurg.com</a
        >
      </li>
      <li>
        <a href="map.google.com/fafoafakfa;fk;afafkxiow">Location</a>
      </li>
    </ul>
  </div>

  <div
    class="w-full md:w-[90%] mx-auto flex flex-col items-center justify-center gap-3"
  >
    <hr class="h-[1.5px] bg-gray-300 w-full my-2" />
    <h5 class="text-white">
      &copy; Copyright {{ year }} All right reserved. Northwest Medical Surgical
      Associates, INC.
    </h5>
  </div>
</div>
