<div class="w-full h-auto md:h-[50vh] px-4 bg-primary">
  <div
    class="w-full lg:w-[90%] mx-auto gap-6 flex flex-col md:flex-row items-center justify-center"
  >
    <a
      routerLink="/"
      routerLinkActive="text-hover"
      class="w-full md:w-[38%] h-fit p-4 flex flex-col items-center justify-between gap-3 cursor-pointer"
    >
      <img
        class="w-full h-auto bg-primary"
        src="../../../assets/images/logo.png"
        alt="Logo"
      />
      <h2 class="text-white">
        Northwest Medical Surgical Associates offers primary care services to
        people of all ages. Some minor illnesses can now even be diagnosed and
        treated online during virtual visits.
      </h2>
    </a>
    <div
      class="w-full md:w-[30%] h-fit p-4 flex items-center justify-center gap-3"
    >
      <ul class="grid grid-cols-2 place-content-center gap-y-6 w-fit h-fit">
        <li>
          <a routerLink="" fragment="home"> Home </a>
        </li>
        <li>
          <a routerLink="" fragment="insurance"> Insurance </a>
        </li>
        <li>
          <a routerLink="" fragment="providers"> Providers </a>
        </li>
        <li>
          <a routerLink="" fragment="reviews"> Reviews </a>
        </li>
        <li>
          <a routerLink="/contact"> Contact Us </a>
        </li>
        <li>
          <a routerLink="/appointment">Appointment</a>
        </li>
      </ul>
    </div>
    <div
      class="w-full md:w-[30%] h-fit flex flex-col items-center justify-center"
    >
      <ul
        class="w-fit h-fit p-4 flex flex-col items-start justify-center gap-4"
      >
        <li class="text-white flex items-center justify-between">
          <span class="mr-6">Call:</span>
          <a href="tel:+347503497">+21194730492</a>
        </li>
        <li>
          <a href="mailto:info&commat;northwestmedsurg.com"
            >info&commat;northwestmedsurg.com</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div
    class="w-full md:w-[90%] mx-auto flex flex-col items-center justify-center gap-3"
  >
    <hr class="h-[1.5px] bg-gray-300 w-full my-2" />
    <h5 class="text-white">
      &copy; Copyright {{ year }} All right reserved. Northwest Medical Surgical
      Associates, INC.
    </h5>
  </div>
</div>
