<nav
  class="sticky top-0 w-full h-[5rem] bg-gray-100 flex items-center justify-between gap[2%] px-0 md:px-4"
>
  <div class="flex items-center justify-center h-full w-[48%] sm:w-[18%]">
    <a routerLink="/">
      <h1>NorthWest Med Surgical</h1>
    </a>
  </div>
  <div [class]="IsOpen ? 'navbar open' : 'navbar close'">
    <ul
      class="w-full h-full flex flex-col md:flex-row items-center justify-evenly"
    >
      <li (click)="toggle()">
        <a href="#home">Home</a>
      </li>
      <li (click)="toggle()">
        <a href="#insurance">Insurance</a>
      </li>
      <li (click)="toggle()">
        <a href="#providers">Providers</a>
      </li>
      <li (click)="toggle()">
        <a href="#overview">Overview</a>
      </li>
      <li (click)="toggle()">
        <a href="#location">Location</a>
      </li>
      <li (click)="toggle()">
        <a href="#reviews">Reviews</a>
      </li>
      <div
        (click)="toggle()"
        class="hidden md:flex items-center justify-center mx-4"
      >
        <sosinc-button
          className="bg-accent text-sm lg:text-base text-white hover:bg-hover"
          label="Contact Us"
          link="/contact"
        />
      </div>
    </ul>
  </div>

  <div
    class="flex md:hidden justify-around items-center gap-3 w-[50%] md:w-[18%] h-full"
  >
    <sosinc-button
      className="bg-accent text-white hover:bg-hover"
      label="Contact Us"
      link="/contact"
    />

    <div
      [class]="IsOpen ? 'navbar-toggle active' : 'navbar-toggle'"
      (click)="toggle()"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>
