<nav
  id="home"
  class="sticky top-0 w-full h-[5rem] bg-gray-100 flex items-center justify-between gap[2%] px-0 md:px-4 z-[999999]"
>
  <a
    class="flex items-center justify-center h-full w-[56%] sm:w-[60%] md:w-[28%] bg-primary"
    routerLink="/"
  >
    <!-- <h1 class="text-white font-semibold text-base">NorthWest Med Surgical</h1> -->
    <img
      class="h-full w-full"
      src="../../../assets/images/logo.png"
      alt="Logo"
    />
  </a>
  <div [class]="IsOpen ? 'navbar open' : 'navbar close'">
    <ul
      class="w-full h-full flex flex-col md:flex-row items-center justify-evenly"
    >
      <li (click)="toggle()">
        <a routerLink="/">Home</a>
      </li>
      <li (click)="toggle()">
        <a routerLink="/about">About Us</a>
      </li>
      <li (click)="toggle()">
        <a routerLink="/services">Services</a>
      </li>
      <li (click)="toggle()">
        <a routerLink="" fragment="reviews">Reviews</a>
      </li>
      <li (click)="toggle()">
        <a routerLink="/appointment">Appointment</a>
      </li>
      <div
        (click)="toggle()"
        class="hidden md:flex items-center justify-center mx-4"
      >
        <sosinc-button
          className="bg-accent text-sm lg:text-base text-white hover:bg-hover"
          label="Contact Us"
          link="/contact"
        />
      </div>
    </ul>
  </div>

  <div class="flex md:hidden justify-around items-center w-[40%] h-full">
    <sosinc-button
      className="bg-accent text-xs !px-4 text-white hover:bg-hover"
      label="Contact Us"
      link="/contact"
    />

    <div
      [class]="IsOpen ? 'navbar-toggle active' : 'navbar-toggle'"
      (click)="toggle()"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>
