<section
  id="contact"
  class="mb-28 flex flex-col md:flex-row h-auto items-center"
>
  <div
    class="bg-white w-full md:max-w-md lg:max-w-full md:mx-auto md:w-1/2 h-auto px-6 lg:px-16 xl:px-24 py-4 flex items-center justify-center"
  >
    <div class="w-full h-100">
      <h1
        class="w-fit h-auto text-primary text-3xl font-bold text-center mb-6 border-b-2 border-accent py-2 z-50"
      >
        Get In Touch
      </h1>
      <p class="text-gray-700 mt-4">
        We will be exited to get in touch with you! let us know if you have
        anything to discuss with us--we gat you covered.
      </p>

      <form class="mt-6" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div>
          <label class="block text-gray-700">Full Name</label>
          <input
            type="text"
            name="name"
            id="name"
            formControlName="name"
            placeholder="Enter Full Name"
            class="w-full px-4 py-3 rounded bg-gray-200 mt-1 border focus:border-primary focus:bg-white focus:outline-none"
            autofocus
          />
          @if( contactForm.get('name')?.touched &&
          contactForm.get('name')?.hasError('required')){
          <h6 class="text-red-500">Name is required.</h6>
          }
        </div>

        <div class="flex flex-col md:flex-row items-start mt-4 md:-mx-4">
          <div class="w-full md:mx-4">
            <label class="block text-gray-700">Phone Number</label>
            <input
              type="tel"
              name="phone"
              formControlName="phone"
              id="Phone"
              placeholder="+1562-789-1935"
              class="w-full px-4 py-3 rounded bg-gray-200 mt-1 border focus:border-primary focus:bg-white focus:outline-none"
            />
            @if(contactForm.get('phone')?.touched &&
            contactForm.get('phone')?.hasError('pattern')){
            <h6 class="text-red-500">Invalid phone number format.</h6>
            }
          </div>

          <div class="w-full md:mx-4 mt-4 md:mt-0">
            <label class="block text-gray-700">Email</label>
            <div class="relative mt-1">
              <input
                name="email"
                id="email"
                formControlName="email"
                placeholder="example@gmail.com"
                class="w-full px-4 py-3 rounded bg-gray-200 border focus:border-primary focus:bg-white focus:outline-none appearance-none"
              />
              @if( contactForm.get('email')?.touched &&
              contactForm.get('email')?.hasError('required')){
              <h6 class="text-red-500">Email is required.</h6>
              }
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-gray-700"
              ></div>
            </div>
          </div>
        </div>

        <div class="w-full mt-4">
          <label class="block text-gray-700">Message</label>
          <textarea
            name="message"
            id="message"
            formControlName="message"
            placeholder="Write message"
            class="w-full px-4 py-3 rounded bg-gray-200 mt-1 border focus:border-primary focus:bg-white focus:outline-none resize-none"
            rows="3"
          ></textarea>
          @if( contactForm.get('message')?.touched &&
          contactForm.get('message')?.hasError('required')){
          <h6 class="text-red-500">Message is required.</h6>
          } @if(contactForm.get('message')?.touched &&
          contactForm.get('message')?.hasError('minlength')){
          <h6 class="text-red-500">
            Message should be equal or greater than 150 characters.
          </h6>
          }
        </div>

        <button
          type="submit"
          class="w-full block bg-primary transition-all duration-[100ms] hover:bg-hover focus:bg-hover text-white font-semibold rounded px-4 py-3 mt-4"
          [disabled]="isSending()"
        >
          {{ isSending() ? "Sending..." : "Send Message" }}
        </button>
      </form>
    </div>
  </div>

  <div
    class="bg-primary hidden lg:flex flex-col justify-center items-center rounded-br-3xl text-white w-full md:w-1/2 h-screen"
  >
    <div class="w-full h-2/3 mx-auto">
      <iframe
        class="w-full h-full"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.7500369384006!2d-73.0751085245547!3d44.80628257107077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cca1ab62db9c9d3%3A0xd9050dcb9718b531!2s148%20Fairfield%20St%2C%20St%20Albans%20City%2C%20VT%2005478%2C%20USA!5e0!3m2!1sen!2sng!4v1703283010159!5m2!1sen!2sng"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <a
      class="mt-5 text-xl underline text-accent font-bold"
      href="https://maps.app.goo.gl/x3pBftm47Jckz8fRA"
      target="_blank"
      rel="noreferrer"
      >Directions</a
    >
  </div>
</section>
