<div
  class="hero-container w-full h-auto lg:h-[80vh] gap-[2%] flex items-center justify-center md:px-6 px-3 mb-8"
>
  <div
    class="w-full h-full lg:w-[50%] flex flex-col items-center justify-center px-2 py-4 z-50"
  >
    <div
      class="w-fit h-fit flex flex-col items-center justify-center gap-4 z-50"
    >
      <h1 class="text-lg sm:text-2xl md:text-4xl text-white font-bold">
        Northwest Medical Surgical
      </h1>

      <p class="text-xl text-white text-center">
        Northwest Medical Surgical Associates offers primary care services to
        people of all ages. Some minor illnesses can now even be diagnosed and
        treated online during virtual visits.
      </p>

      <sosinc-button
        className="bg-accent hover:bg-hover text-white mt-4 mx-auto"
        label="Make an Appointment"
        link="/appointment"
      />
    </div>
  </div>
</div>
