<section class="w-full h-auto flex flex-col items-center justify-center">
  <h1
    class="w-fit h-auto mx-auto text-primary text-3xl font-bold text-center mb-6 border-b-2 border-accent py-2 z-50"
  >
    About Us
  </h1>
  <div
    class="flex flex-col md:flex-row items-center justify-center w-full h-auto mt-4 gap-[2%]"
  >
    <div
      class="relative w-full h-80 lg:w-[48%] shadow rounded p-4 border-t-[3rem] border-primary"
    >
      <h2 class="absolute -top-10 text-center font-bold text-3xl text-white">
        North West Medical Surgical Associates
      </h2>
      <p class="text-2xl font-semibold text-primary mt-5">
        People turn to Family Medicine for a wide range of medical, health and
        wellness concerns, including well-child exams, behavioral health care,
        minor illnesses, chronic conditions such as diabetes and high blood
        pressure, and routine health exams.
      </p>
    </div>
    <div class="w-full lg:w-[48%] h-80 shadow rounded">
      <img
        class="bg-cover object-cover w-full h-full rounded-md"
        src="../../../assets/images/hero.jpeg"
        width="474"
        height="316"
        alt="Hero Image"
      />
    </div>
  </div>

  <!-- ======= Values Section ======= -->
  <div id="services" class="services bg-primary py-16">
    <div class="container mx-auto">
      <div class="section-title text-center mb-12">
        <h1
          class="w-fit h-auto mx-auto text-primary text-3xl font-bold text-center mb-6 border-b-2 border-accent py-2 z-50"
        >
          Our Values
        </h1>
        <p class="text-lg leading-7">
          At Northwest Medical Surgical Associates, We're Committed to Providing
          a Comprehensive Spectrum of Services Tailored to Your Unique Needs.
          Below are our core values:
        </p>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-primary p-6 rounded-lg shadow-md">
          <h4
            class="text-xl font-bold mt-4 text-gray-900 dark:text-gray-100 mb-2"
          >
            Comprehensive Patient Care
          </h4>
          <p class="text-gray-500 dark:text-gray-400">
            Caring for patients regardless of age or health condition,
            sustaining an enduring and trusting relationship
          </p>
        </div>
        <div class="bg-primary p-6 rounded-lg shadow-md">
          <h4
            class="text-xl font-bold mt-4 text-gray-900 dark:text-gray-100 mb-2"
          >
            Community Health Expertise
          </h4>
          <p class="text-gray-500 dark:text-gray-400">
            Understanding community-level factors and social determinants of
            health
          </p>
        </div>
        <div class="bg-primary p-6 rounded-lg shadow-md">
          <h4
            class="text-xl font-bold mt-4 text-gray-900 dark:text-gray-100 mb-2"
          >
            Primary Care Advocacy
          </h4>
          <p class="text-gray-500 dark:text-gray-400">
            Serving as a patient's first contact for health concerns
          </p>
        </div>
        <div class="bg-primary p-6 rounded-lg shadow-md">
          <h4
            class="text-xl font-bold mt-4 text-gray-900 dark:text-gray-100 mb-2"
          >
            Healthcare System Navigation
          </h4>
          <p class="text-gray-500 dark:text-gray-400">
            Navigating the health care system with patients, including
            specialist and hospital care coordination and follow-up
          </p>
        </div>
        <div class="bg-primary p-6 rounded-lg shadow-md">
          <h4
            class="text-xl font-bold mt-4 text-gray-900 dark:text-gray-100 mb-2"
          >
            Data-Driven Coordination
          </h4>
          <p class="text-gray-500 dark:text-gray-400">
            Using data and technology to coordinate services and enhance care.
          </p>
        </div>
        <div class="bg-primary p-6 rounded-lg shadow-md">
          <h4
            class="text-xl font-bold mt-4 text-gray-900 dark:text-gray-100 mb-2"
          >
            Family-Centered Health
          </h4>
          <p class="text-gray-500 dark:text-gray-400">
            Considering the impact of health on a patient’s family.
          </p>
        </div>

        <!-- Repeat the above structure for other services -->
      </div>
    </div>
  </div>

  <nwmedsurg-cta
    textContent="Other common diagnostic and surgical procedures performed in the Family
      Medicine specialty include: <br /> Allergy injections Biopsy and excision of skin
      lesions Flu shots and immunizations Incision and drainage of abscesses
      Intrauterine device (IUD) placement and removal Joint injections Lab
      services Minor surgery, including vasectomy and circumcision Newborn and
      well-child care Placement and removal of contraceptive implants
      Obstetrics, including prenatal care, delivery and postpartum care
      Palliative care Physical exams for sports, school and summer camp Special
      procedures such as flexible sigmoidoscopy, colposcopy and bone
      densitometry Treadmill testing Women's health services, including breast
      exams, mammography, Pap tests and pelvic exams."
  />
</section>
