<div class="insurance w-full h-fit flex flex-col items-center justify-center">
  <div
    class="w-full h-fit flex flex-col md:flex-row items-center justify-center gap-4 py-12"
  >
    <div
      class="w-full md:w-[47%] h-2/3 min-h-[25rem] flex flex-col items-center justify-center gap-4 p-4 shadow z-50 bg-white"
    >
      <h1 class="text-primary text-2xl md:text-4xl font-bold my-4">
        Medical Surgery Insurance
      </h1>
      <p>
        At North West Medical Surgical Associates, we understand the importance
        of comprehensive healthcare coverage, especially when it comes to
        medical surgeries. Our Medical Surgery Insurance is designed to provide
        you with financial peace of mind, ensuring that you receive the best
        possible medical care without the added stress of hefty expenses.
      </p>
    </div>
    <div
      class="w-full md:w-[47%] h-2/3 min-h-[25rem] max-h-[25rem] o overflow-y-scroll p-4 shadow z-50 bg-white"
    >
      @for (insurance of insurances(); track insurance.id) {
      <mat-accordion
        class="bg-white w-full h-full flex flex-col items-center justify-between gap-y-4 my-2"
      >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="text-sm font-normal">
                {{ insurance.question }}
              </h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <hr class="bg-white h-[1px] w-full my-2" />
          <p class="text-sm">
            {{ insurance.answer }}
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      }
    </div>
  </div>
</div>
<nwmedsurg-cta />
