<!-- ======= Services Section ======= -->
<section id="services" class="services bg-white py-16">
  <div class="container mx-auto">
    <div class="section-title text-center mb-12">
      <h2 class="text-3xl font-extrabold leading-9 text-gray-900">Services</h2>
      <p class="text-lg leading-7 text-gray-500">
        At Northwest Medical Surgical Associates, We're Committed to Providing a
        Comprehensive Spectrum of Services Tailored to Your Unique Needs.
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      @for (service of services(); track service.id) {
      <div class="bg-primary p-6 rounded-lg shadow-md">
        <h4 class="text-xl font-bold mt-4 mb-2 text-white">
          {{ service.title }}
        </h4>
        <p class="text-gray-100">
          {{ service.desc }}
        </p>
      </div>
      }
    </div>
  </div>
</section>
<nwmedsurg-cta
  textContent="Secure your health and financial well-being with our Medical Surgery
    Insurance. Contact us today to explore your options and embark on a journey
    towards comprehensive healthcare coverage."
/>
